services:
  postfix:
    image: boky/postfix
    container_name: postfix-gmail
    restart: unless-stopped
    ports:
      - "587:587"
    environment:
      # Spam friendly
      ALLOW_EMPTY_SENDER_DOMAINS: "yes"

      POSTFIX_mynetworks: "192.168.0.0/16, 127.0.0.0/8, 172.16.0.0/12"

      # GLOBAL smtpd settings
      POSTFIX_smtpd_sasl_auth_enable: "yes"
      POSTFIX_smtpd_tls_auth_only: "yes"
     
      # Submission service (587)
      ENABLE_SUBMISSION: "yes"
      POSTFIX_submission_smtpd_tls_security_level: "encrypt"
      POSTFIX_submission_smtpd_tls_auth_only: "yes"
      POSTFIX_submission_smtpd_sasl_auth_enable: "yes"
      POSTFIX_submission_smtpd_relay_restrictions: "permit_sasl_authenticated,reject"

      # Gmail relay
      RELAYHOST: "[smtp.gmail.com]:587"
      RELAYHOST_USERNAME: "${GMAIL_USER}"
      RELAYHOST_PASSWORD: "${GMAIL_PASSWORD}"
      POSTFIX_smtp_tls_security_level: "encrypt"